<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmartsyPants Book Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SmartsyPants</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form action="/search" class="form-inline my-2 my-lg-0 mx-auto" method="GET">
                <input class="form-control mr-sm-2" name="search_books" type="search" placeholder="Search ISBN, AUTHOR, BOOKS" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="navbar-collapse collapse w-300 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout {{ session.username }} <span class="sr-only"></span></a>
                        </li>
                    {% endif %}
                    {% if not session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </nav>
</div>
<div class="container">
    <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</div>
</div>



</body>
</html>